div.iconMenu{
    background: #2d2d2d;
}
div.iconMenu:hover li.high{
    background: black;
}
div.iconMenu li.block a{
    color: #ffd7d7;
}
div.iconMenu li.group a{
    color: #dbffe5;
}
div.iconMenu li.synonyms a{
    color: #9db6a4;
}
div.iconMenu li.filter a{
    color: #d7dfff;
}
span.codepoint_display.onlyEmojisDevHide a{
    color:black;
}
span#editBlockDisplayable{
    border-color:white;
}
