@font-face {
    font-family: "Windows10";
    src: url("seguiemj_win10.ttf");
}
@font-face {
    font-family: "Windows11";
    src: url("seguiemj_win11.ttf");
}
@font-face {
    font-family: "EmojiOne Mozilla";
    src: url("EmojiOneMozilla.ttf");
}
@font-face {
    font-family: "Twemoji Mozilla";
    src: url("TwemojiMozilla.ttf");
}
@font-face {
    font-family: "Dev1";
    src: url("OpenSansEmoji.ttf");
}
@font-face {
    font-family: "Dev2";
    src: url("Symbola.ttf");
}
@font-face {
    font-family: "Dev3";
    src: url("_SamsungEmoji.ttf");
}
@font-face {
    font-family: "Dev4";
    src: url("_One_ui.ttf");
}
