@import url("https://fonts.googleapis.com/css?family=Noto+Color+Emoji");
div.tt_inner_body,
div.tt_messages2,
h1.tt_title
{
    padding-left:30px;
}
div.iconEntry{
    display: inline-block;
    border:1px solid gray;
    border-radius:5px;
    text-align: center;
    margin-bottom:4px;
    vertical-align: top;
    min-height: 132px;
}
div.iconEntry.editClass{
    border-color: red;
}
div.iconEntry.modifierApplied{
    border-style: dashed;
}
span.codepoint_display{
    font-size:50px;
    line-height: 60px;
    height: 60px;
    width:90px;
    display: inline-block;
}
span.codepoint_display span{
    line-height: 0;
}
span.codepoint_display.onlyEmojisDevHide a{
    color:white;
}
span.codepoint_display.onlyEmojisDevHide a:hover{
    color:inherit;
}
span.codepoint_display a:hover{
    text-decoration: none;
}
div.iconDetails{
    width:100px;
}
div.iconDetails div.name_en{
    text-transform: capitalize;
    height:36px;
    overflow:hidden;
}
div.iconDetails div.name_code,
div.codepoint_sequence{
    font-family: monospace;
}
div.codepoint_sequence{
    text-align: left;
    margin-left:10px;
    max-height: 90px;
    overflow-y: scroll;
}
div.debug_tile{
    display: inline-block;
    opacity: .33;
}
div.debug_tile:hover{
    opacity: 1;
}
div.debug_tile div.iconEntry{
    border: 3px dashed;
    margin:-2px;
}
div.debug_tile.dskintone{
    float:right;
}
span.emojiVariationTitle{
    text-transform: capitalize;
    display: block;
    height:37px;
    overflow: hidden;
}
h2.emojiGroup{
    margin-bottom: 0;
}
span.noto{
    font-family: "Noto Color Emoji", sans-serif;
}
span.font_mozilla_old{
    font-family: "EmojiOne Mozilla", sans-serif;
}
span.systemfont_win10{
    font-family: "Windows10", sans-serif;
}
span.systemfont_win11{
    font-family: "Windows11", sans-serif;
}
span.font_dev1{
    font-family: "Dev1", sans-serif;
}
span.font_dev2{
    font-family: "Dev2", sans-serif;
}
span.font_dev3{
    font-family: "Dev3", sans-serif;
}
span.font_dev4{
    font-family: "Dev4", sans-serif;
}
span.skintone{
    display: inline-block;
    max-width:18px;
    overflow: hidden;
    direction:rtl;
}
div.iconMenu{
    background: #dedede;
    position:fixed;
    z-index: 1;
    left:0;
    top:50px;
    overflow-y:scroll;
    max-height:calc(100vh - 100px);
}
div.iconMenu.hideSpecial{
    width:20px;
    overflow:hidden;
}
div.iconMenu:hover{
    width:inherit;
    max-width:50%;
    overflow-y:scroll;
}
div.iconMenu ul{
    padding:0;
    margin:10px 10px 10px 10px;
    list-style:none;
    white-space: nowrap;
}
div.iconMenu li.block a{
    color:darkred;
}
div.iconMenu li.group a{
    color: #008b27;
}
div.iconMenu li.filter a{
    color: #001c8b;
}
div.iconMenu li.synonyms a{
    text-transform: capitalize;
    color: #598a69;
}
div.iconMenu li{
    padding:0 10px;
}
div.iconMenu:hover li.high{
    background: white;
}

span#editBlockDisplayable{
    border:1px solid black;
    border-radius: 5px;
    padding:5px 7px;
    font-size:16px;
}
h1.blockHeader a{
    font-size:16px;
}
span#editBlockDisplayable a{
    display:inline-block;
    text-align:center;
}
div.editMore a,
a.editMore{
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    margin:2px 0;
    min-width:19px;
}
div.iconEntry.noDisplay{
    border-style: dashed;
}
span.menuDescPrefix{
    display: inline-block;
    min-width: 22px;
    text-align: center;
}
